body {
    overflow: hidden;
}

.line {
    display: flex;
}

.cell {
    border: solid 2px black;
    height: 60px;
    width: 60px;
}

.player {
    background: #ee3322;
}

input {
    border: none;
    width: 100%;
}

.status, input {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 34px;
}